body {
  background: radial-gradient(circle at top, #090909, #000);
  font-family: Inter, Arial, sans-serif;
  color: white;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.logo {
  text-align: center;
  border: 2px solid red;
  color: red;
  padding: 14px 40px;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 3px;
  box-shadow: 0 0 25px red;
  margin-bottom: 40px;
}

.section-title {
  text-align: center;
  font-size: 22px;
  margin: 40px 0 15px;
  color: #ff2a2a;
}

.card {
  background: linear-gradient(145deg, #0f0f0f, #191919);
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 18px;
  box-shadow: 0 0 25px rgba(255,0,0,0.25);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 40px rgba(255,0,0,0.5);
}

.match {
  font-size: 22px;
  font-weight: bold;
}

.league {
  opacity: 0.7;
  margin-bottom: 6px;
}

.badges span {
  display: inline-block;
  margin-right: 8px;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.hot { background: red; }
.value { background: #00d9ff; color:black;}
.corner { background: orange; color:black;}

.market {
  margin-top: 8px;
  font-size: 15px;
}

.footer {
  opacity: 0.5;
  text-align: center;
  margin-top: 50px;
}
