body{
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

.logo{
  background:black;
  color:red;
  font-size:40px;
  padding:15px;
  margin:20px auto;
  width:260px;
  border:3px solid red;
  font-weight:bold;
}

h2{color:#ff4444;margin-top:35px;}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:15px;
  padding:15px;
}

.card{
  background:#1b1b1b;
  padding:15px;
  border-radius:10px;
  border:1px solid #333;
}

.prob{color:#00ff9c;margin-top:6px;}

footer{
  margin:30px;
  opacity:0.6;
}
